.swiper-button-prev::after {
    width: 50px;
    height: 50px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    box-shadow: 0 0 8px 0 rgba(60, 60, 60, 0.574);
}

.swiper-button-next:after {
    width: 50px;
    height: 50px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    box-shadow: 0 0 8px 0 rgba(60, 60, 60, 0.574);
}

/* responsive */

@media screen and (max-width: 768px) {
    .swiper-button-prev::after {
        width: 30px;
        height: 30px;
        font-size: 12px;
        font-weight: 700;
    }

    .swiper-button-next:after {
        width: 30px;
        height: 30px;
        font-size: 12px;
        font-weight: 700;
    }
}

@media screen and (max-width: 425px) {
    .swiper-button-prev::after {
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        top: 10px;
        bottom: 0;
        left: -5px;
    }

    .swiper-button-next:after {
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        top: 10px;
        bottom: 0;
        right: -5px;
    }
}